<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%extends 'indexAmal.html'%}
{%load static%}
{%block content%}
  <main class="ps-0 ps-md-5 flex-grow-1">
    <div class="row">
      <div class="mt-4 ml-5" style="opacity: 0.36;color: black;font-size: 20px;font-weight: 600;">
        <span class="ml-5">ASSIGNED TASKS</span></div></div>
        <div class="row">
          <div class="col-md-3"></div>
      {% comment %} {% for product in products %}
      {% if forloop.first %} {% endif %} {% endcomment %}
      <div class="col-md-5">
      <div id="" class="shadow  bg-white" style="border-radius:10px;">
        <div class="container text-center">
        
          <div class="row pt-1">
            <div class="col-md-6">
            <div class="text-info" style="opacity: 0.70;font-size:17px;">Product name</div></div>
            <div class="col-md-6" style="opacity: 0.70;font-size:17px;">
            <div class="ml-1">name</div></div>
           </div>
           <div class="row pt-4">
            <div class="col-md-6">
            <div class="text-info" style="opacity: 0.70;font-size:17px;">Target</div></div>
            <div class="col-md-6 " style="opacity: 0.70;font-size:17px;">
              <div class="ml-1">name</div></div>
            </div>
            <div class="row pt-4">
              <div class="col-md-6">
              <div class="text-info" style="opacity: 0.70;font-size:17px;">Description</div></div>
              <div class="col-md-6 " style="opacity: 0.70;font-size:17px;">
                <div class="ml-1">name</div></div>
              </div>
              <div class="row pt-4 text-center">
                {% comment %} <form method="POST" action="hrGiveTaskRemind">
                  {%csrf_token%} {% endcomment %}
                <input type="hidden" id="leavId" name="team_id" value={{hr.id }}>
                <div class="col-md-8">click to update targer and assign to Marketing TL</div>
                <div class="col-md-4">
                <input  type="submit" value="ASSIGN" name="status" class="btn btn-primary Search"></div>
              {% comment %} </form> {% endcomment %}
                </div>
              </div>
              </div>
              <div class="col-md-3"></div>
            </div>
           {% comment %} {% endfor %} {% endcomment %}
            </div>
</main>

</body>
</html>{%endblock%}






