<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%extends 'indexAmal.html'%}
{%load static%}
{%block content%}
  <main class="ps-0 ps-md-5 flex-grow-1">
    <div class="row">
  
    <div class="mt-4 ml-5" style="opacity: 0.36;color: black;font-size: 20px;font-weight: 600;"><span class="">ASSIGNED TASKS</span></div></div>
    <div class="row mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="container">
    <div class="row shadow bg-white " style="border-radius:20px;">
      <div class="container ml-3 mt-5 mb-5">
     <div class="row">
      
      <div class="col-md-6"><center><h5 class="">Task assigned succesfully</h5></center>
      
      </div><div class="col-md-6"><span class="ml-5"><span>
        <img src="{% static 'Group1.png' %}" width="100" height="100" class="imgsuc ml-5">
      </div></div></div>
    </div>
    </div>
  </div></div class="col-md-5"></div>
  </div>
  </main>

</body>
</html>
{%endblock%}