<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{%extends 'indexAmal.html'%}
{%load static%}
{%block content%}
  <main class="ps-0 ps-md-5  ">
    <div class="row">
    <div class="mt-4 ml-2" style="opacity: 0.36;color: black;font-size: 20px;font-weight: 600;"><span class="ml-5">TASKS</span></div></div>
    <div class="row mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
      <div class="col-md-4">
        <div class="container shadow mt-2 p-3 bg-light" style="border-radius:20px;">
     <a style="text-decoration:none" href="hrassignedtasks">
        <div class="text-center mr-5" style="font-size:20px;text-weight:bolder;">
          Assigned tasks
        </div>
       <div class="text-right">
         <img class="mr-5 mt-2" src=" {% static 'Group18.png' %}" width="90" height="80" ></div>
         </a>
        </div>
        </div>
      <div class="col-md-4">
        <div class="container mt-2  shadow  p-3 bg-light" style="border-radius:20px;">
      <a style="text-decoration:none" href="hrgiveprojects">
        <div class="text-center mr-5" style="font-size:20px;text-weight:bolder;">
         Give tasks
        </div>
        <div class="text-right">
         <img class="mr-5 mt-2" src=" {% static 'Group16.png' %}" width="100" height="80" ></div>
        </a>
      </div>
      </div>
      <div class="col-md-4 ">
        <div class="container mt-2 shadow p-3 bg-light" style="border-radius:20px;">
      <a style="text-decoration:none" href="hrtasks1">
        <div class="text-center mr-5" style="font-size:20px;text-weight:bolder;">
          My tasks</div>
          <div class="text-right">
         <img class="mr-5 mt-2" src=" {% static 'Group15.png' %}" width="100" height="80"></div>
       </a>
        </div></div>

      </div>
   </div>
   <div class="col-md-1"></div>
  </div>

</body>
</html>
{%endblock%}